{% block content %}
<ul class="uk-navbar-nav uk-navbar-right">
    {% if not current_user.is_authenticated %}
        <li><a href="{{ url_for('sign', url='in') }}">Entra</a></li>
        <i uk-icon="">|</i>
        <li><a href="{{ url_for('sign', url='up') }}">Registra't</a></li>
    {% elif current_user.is_authenticated %}
        <li><a href="{{ url_for('profile') }}">Compte</a></li>
        <i uk-icon="">|</i>
        <li><a href="{{ url_for('sign_out') }}">Surt</a></li>
    {% endif %}
    <i uk-icon="user"></i>
</ul>
{% endblock %}