{% block content %}
<div id="grid-filters-nav" class="uk-padding-small uk-margin-medium">
    <ul class="uk-subnav uk-subnav-pill">
        <li><a href="{{ url_for('categories' , category=category, data=data, sort='users.likes')}}">M'agrada</a></li>
        <li><a href="{{ url_for('categories', category=category, data=data, sort='users.dislikes')}}">No m'agrada</a></li>
        <li><a href="{{ url_for('categories', category=category, data=data, sort='details.title', order=1)}}">Títol</a></li>
        <li><a href="{{ url_for('categories', category=category, data=data, sort='filters.skill', order=1)}}">Dificultat</a></li>
        <li><a href="{{ url_for('categories',category=category, data=data, sort='details.author', order=1)}}">Autor</a></li>
        <li><a href="{{ url_for('categories', category=category, data=data, sort='details.serves', order=-1)}}">Racions</a></li>
        <li><a href="{{ url_for('categories', category=category, data=data, sort='filters.main_ingredient', order=1)}}">Ingredient principal</a></li>
    </ul>
</div>
{% endblock %}